<div class="file-upload-container">

  <input [hidden]="true" type="file" class="file-input" (change)="uploadFile($event)" #fileUpload>

  <div class="file-upload">

    <ng-template #uploadedFileTemp>
      {{fileName}}
    </ng-template>

    <ng-template #noFileTemplate>
      No file uploaded yet.
    </ng-template>

    <span *ngIf="uploadPercent == null;then noFileTemplate else uploadedFileTemp;"></span>

    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
        <mat-icon>file_upload</mat-icon>
    </button>
    &nbsp;
    <a *ngIf="downloadURL" [href]="downloadURL | async" mat-mini-fab color="primary" class="upload-btn">
      <mat-icon>file_download</mat-icon> 
    </a>
  </div>
    <div *ngIf="uploadPercent">{{ uploadPercent | async }} % loaded ... </div>
</div>